.services__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.service{
    background-image: linear-gradient(250deg, #0d0a1a 20%, #20203b 80%);
    border: 3px solid var(--color-primary);
    border-radius: 2rem;
    height: fit-content;
    transition: var(--transition);
}



.service__head{
    padding: 2rem 0rem 1rem;
    border-radius: 1.5rem;

}

.service__buttom{
    display: flex;
    justify-content: center;
}

.service__buttom button{
    border-radius: 0rem 0rem 1.5rem 1.5rem ;
  
    width: 100%;
}

hr{
    margin: auto;
    height: 1px;
    background-color: var(--color-primary);
    width: 80%;
}

.service__head h3{
    color: var(--color-primary);
    font-size: 1rem;
    text-align: center;
}

.service__list{
    padding: 2rem;
}

.service__list li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service__list-icon{
    color: var(--color-primary);
    margin-top: 2px;
}

.service__list p{
    font-size: 0.9rem;
}


/* ============MEDIA QUERY()MEDIA DIVICES================= */

@media screen and (max-width: 1024px  ) {
   
    .services__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .service{
        height: auto;
    }
 }


 @media screen and (max-width: 900px  ) {
   
    .services__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .service{
        height: auto;
    }
 }
 
 
 /* ============MEDIA QUERY(SMALL DIVICES)================= */
