.about__container {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
  position: relative;
}

/* .about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
} */

.about__me-bg{
  background-color: var(--color-primary);
  height: 22rem;
  width: 16rem;
  position: absolute;
  border: 3px solid var(--color-primary);
  box-shadow: 0 0 1rem var(--color-primary);
 }

 .about__me-image-lg{
  width: 29rem;
  position: relative;
  top: 1rem;
  left: 1rem;
  filter: saturate(0) brightness(0.3);
  overflow: hidden;
  transition: var(--transition);
  border: solid 1rem transparent;

 }


 .about__me-image-sm{
  width: 28rem;
  height: 28rem;
  overflow: hidden;
  position: absolute;
  top: 6rem;
  left: 6rem;
 
 }

 
 .about__me:hover  .about__me-image-sm{
  opacity: 0;
 }

 .about__me:hover  .about__me-image-lg{
  filter: saturate(1) brightness(1);
  border: solid 1rem var(--color-primary);
  box-shadow: 0 0 1rem var(--color-primary);

  top: 0;
  left: 0;
 }



.about__cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}

.about__card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}
.about__card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    transition: var(--transition);
}

.about__icon{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5{
    font-size: 0.95rem;
}

.about__card small{
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light);

}


/* ============MEDIA QUERY()MEDIA DIVICES================= */

@media screen and (max-width: 1024px  ) {
   .about__container{
    margin-top: 5rem;
    grid-template-columns: 1fr;
    gap: 0;
   }

   .about__me{
        width: 100%;
        margin: 2rem auto 4rem;
   }
  

   .about__content p{
    margin: 1rem 0 1.5rem;

}

.about__me-image-sm{
  display: none;
 
 }

 .about__me-image-lg{
  filter: saturate(1) brightness(1);
 border: 0.5rem solid var(--color-primary);
 box-shadow: 0 0 1rem var(--color-primary);
 width: 100%;
 top: 0;
 left: 0;
 }

 .about__me-image-lg img{
  width: 100%;
 }

}

/* ============MEDIA QUERY(SMALL DIVICES)================= */

@media screen and (max-width: 600px  ) {
    .about__me{

        width: 100%;
        margin: 0 auto 3rem;
   }



  

   .about__cards{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
   }

   .about__content{
    text-align: center;
   }

   .about__content p{
    margin: 1rem 0 ;

}
}
