.skills__container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2rem; 
    width: 70%;   
}



.skills__header{
    display: flex;
    align-items: center;
    padding: 2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
     background-image: linear-gradient(150deg, #0d0a1a 20%, #20203b 80%);
     border: solid 1px var(--color-primary);  
}

.skills__header:hover{
    transition: var(--transition);
     background-image: linear-gradient(10deg, #0d0a1a 20%, #20203b 80%);
}

.skills__icon,
.skills__arrows{
    font-size: 2rem;
    color: var(--color-primary);
}

.skills__icon{
    margin-right: 0.75rem;
}

.skills__title{
    font-size: 1.2rem;
}

.skills__sub-title{
    font-size: 1rem;
    color: var(--color-light);
}

.skills__arrows{
    margin-left: auto;
    transition: 2s;
}

.skills__list{
    display: grid;
    row-gap: 1.5rem;
    padding-left: 2.5rem;
    transition: var(--transition);

}

.skills__titles{
display: flex;
justify-content: space-between;
margin-bottom: 0.5rem;
}
.skills__number{
    color: var(--color-light);
}
.skills__bar,
.skills__percentage{
    height: 5px;
    border-radius: 0.25rem;
}

.skills__bar{
    background-color: var(--color-bg-variant);
}

.skills__percentage{
    display: block;
    background-color: var(--color-primary);

}

.skills__html{
    width: 100%;
}

.skills__css{
    width: 80%;
}

.skills__js{
    width: 80%;
}

.skills__react{
    width: 80%;
}
.skills__bootstrap{
   width:  95%;
}

.skills__sass{
    width:  95%;
 }

 .skills__jquery{
    width:  70%;
 }

 .skills__vue{
    width:  70%;
 }

 .skills__figman{
    width:  80%;

 }

 .skills__skech{
    width: 80%;
 }

 .skills__laravel{
    width: 90%;

 }

 .skills__node{
    width: 70%;

 }

 .skills__php{
    width: 70%;

 }

 .skills__mysql{
    width: 70%;

 }
 .skills__api{
    width: 90%;
 }

 .skills__git{
    width: 80%;

 }



.skills__close .skills__list{
   height: 0px;
   overflow: hidden; 
   transition: var(--transition);
} 

.skills__open .skills__list{
    height: max-content;
    margin-bottom: 2.5rem;
    transition: var(--transition);

 } 

 .skills__open .skills__arrows{
    transform: rotate(180deg);
 } 


 @media screen and (max-width: 1024px  ) {
    .skills__container{
        grid-template-columns:  1fr;
        gap: 4rem; 
        width: 80%;   
    }
 }

 @media screen and (max-width: 600px  ) {
    .skills__container{
        grid-template-columns:  1fr;
        gap: 4rem; 
        width: 100%;   
    }
}