.portafolio__container{
   
    width: 40%;

}

.portafolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portafolio__item-image{
    width: 10rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}
.portafolio__item-image img{
    width: 100%;
    height: 100%;
}

.portafolio__item h3{
    margin: 1.2rem 0 2rem;
    text-align: center;
}

.portafolio__item-cta{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    
}


/* ============MEDIA QUERY()MEDIA DIVICES================= */

@media screen and (max-width: 1024px  ) {
  .portafolio__container{
    width: 60%;
  }
}

/* ============MEDIA QUERY(SMALL DIVICES)================= */

@media screen and (max-width: 600px  ) {
   .portafolio__container{
    width: var( --container-width-sm);
   }
}